<!-- myapp/templates/upload.html -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Upload de Arquivos</title>
</head>
<body>
    <h1>Upload da Base Completa</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload-base-completa' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Base Completa</button>
    </form>

    <h1>Upload para Atualização por ADE</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'upload-atualizacao-ade' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar Atualização</button>
    </form>
</body>
</html>
